* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url(./Roboto/Roboto-Black.ttf);
}

body {
  width: 1600px;
}
.header {
  position: relative;
  width: 1714px;
  height: 798px;
  background: #172755;
  clip-path: polygon(0px 0px, 1600px 0px, 1600px 544px, 0px 798px);
}
.hu_ta {
  content: "";
  bottom: -17px;
  left: 0px;
  z-index: -1;
  position: absolute;
  height: 271px;
  left: 0px;
  right: 0px;
  top: 544px;
  background: #ef2a82;
  clip-path: polygon(0px 0px, 1600px 0px, 1600px 17px, 0px 271px);
}
.main {
  width: 1714;
  display: flex;
  padding: 50px 210px 0 210px;
}
.main00 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 184px;
  font-family: "Roboto";
  font-style: normal;
  color: #ffffff;
}
.leftTopCircle {
  position: absolute;
}
.leftTopCircle2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-26%, -50%);
  z-index: 0;
}
.main00logo {
  margin-left: 12px;
  z-index: 1;
}
.main01 {
  display: flex;
  width: 352px;
  justify-content: space-between;
  align-items: center;
  margin: 0 314px 0 82px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8794ba;
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 1;
}
.main02 {
  z-index: 1;
  display: flex;
  width: 249px;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #8794ba;
}
.SignUp {
  border: 1px solid #465b95;
  border-radius: 68px;
  width: 161px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textBlock {
  width: 550px;
  height: 315px;
  margin: 152px 840px 241px 210px;
  display: flex;
  flex-direction: column;
}
.textBlockTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.textBlockParagrafh {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  height: 120px;
  font-size: 18px;
  line-height: 150%;
  color: #8794ba;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 15px;
}
.textBlockButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 80px;
  gap: 10px;
  width: 238px;
  height: 50px;
  border-radius: 68px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 49px;
  background: #ef2a82;
  color: #ffffff;
  font-weight: 300;
  font-size: 15.5px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: none;
}
.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 38px 210px 0 210px;
}
.container01 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.MainFeatures {
  width: 620px;
  height: 53px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #172755;
  margin-bottom: 30px;
  text-align: center;
}
.loremThem {
  width: 1060px;
  height: 53px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #8794ba;
  margin-bottom: 81px;
}
.shape {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 1180px;
  height: 164px;
}
.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shapeh2 {
  margin-bottom: 15px;
  margin-top: 27px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #172755;
}
.shapeP {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #8794ba;
}
.container02 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 50px;

  width: 1180px;
  height: 1470px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 130px;
  margin-bottom: 114px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 100px;
  /* width: 1180px;
  height: 410px; */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.cardtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 480px;
  height: 232px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.cardSvgImage {
  order: 1;
}
.cardtext .reverse {
  order: 1;
}
.cardSvgImage .reverse {
  order: 0;
}
.cardtexth1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;

  /* text / main */

  color: #172755;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.cardtextP {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  /* text / secondary */

  color: #8794ba;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.pricingPlans {
  position: relative;
  background: #172755;
  display: flex;
  flex-direction: column;
  padding-bottom: 158px;
  clip-path: polygon(0px 254px, 1600px 0px, 1600px 1069px, 0px 1069px);
  z-index: 1;
  overflow: visible;
}
.pricingPlans:after{
  width: 1600px;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0%;
  top: 0%;
  background-color: #ef2a82;
  clip-path: polygon(0px 254px, 1600px 0px, 1600px 17px, 0px 272px);
}

/* 
.hu_ta2 {
  width: 1600px;
  content: "";
  position: relative;
  top: -1054px;
  background-color: #ef2a82;
  clip-path: polygon(0px 254px, 1600px 0px, 1600px 17px, 0px 272px);
} */


.pricingPlansName {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
  margin: 255px 490px 0 490px;
  
}

.pricingPlansText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #8794ba;
  margin-top: 30px;
  margin-bottom: 80px;
}

.pricingPlansCardAll {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}

.pricingPlansCard {
  width: 340px;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(15, 31, 75, 0.7);
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  border-radius: 30px;
  padding-top: 50px;
}

.pricingPlansCardName {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}
.pricingPlansCardText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  text-align: center;
  /* text / secondary */
  color: #8794ba;
  margin-bottom: 37px;
}

.splitter {
  content: none;
  width: 220px;
  border: 1px solid #2a407c;
  margin-bottom: 28px;
}

.pricingPlansCardPrice {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}
.pricingPlansCardText2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-align: center;

  /* text / secondary */

  color: #8794ba;
  margin-bottom: 40px;
}
.pricingPlansCardButtom {
  /* display: flex;
  flex-direction: row; */
  width: 200px;
  align-items: center;
  padding: 15px 80px;
  gap: 10px;
  border: 1px solid #2a407c;
  border-radius: 68px;
  background-color: #2a407c;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #ffffff;
}

.signupForm {
  width: 1600px;
  background: #f8f9ff;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;

  /* padding: 638px 218px 638px 218px; */
}

.signupFormTextBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupFormText01 {
  align-content: center;
  display: flex;
  width: 431px;
  height: 80px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */
  color: #160637;
}

.signupFormText02 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  margin-top: 75px;
  margin-bottom: 45px;
  color: #8989a2;
}

.logos {
  width: 300px;
  height: 156px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 55px;
}

.form {
  position: relative;
  content: none;
  width: 480px;
  height: 480px;
  margin-top: 151px;
  margin-left: 46px;
  margin-bottom: 109px;
  background: #f9f0ff;
}

.formInputForm {
  width: 428px;
  height: 475px;
  position: relative;
  top: -47px;
  left: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 40px;
  gap: 16px;
  background: #ffffff;
  /* Shadow 2 */

  box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.122);
  border-radius: 8px;
}

.formInputFormSingUp {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  background: none;
  border: none;
  text-align: center;
  width: 347px;
  height: 32px;
  color: #160637;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.formInputFormStart {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  padding: 12px 54px;
  text-align: center;
  width: 348px;
  height: 51px;
  color: #ffffff;
  background: #722ed1;
}

.formInputFormInput {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  width: 348px;
  height: 51px;
}

.splitter2 {
  content: none;
  width: 336px;
  border: 1px solid #8989a2;
}

.Group35 {
  display: flex;
  flex-direction: row;
  width: 1600px;
  height: 154px;
  background: #1f2f5c;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 305px;
}

.Group35ContainerImg {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  /* margin: 0 305px 0 305px;   */
}

.main04 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #8794ba;
}

.main05 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 36px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  /* text / secondary */

  color: #8794ba;
}

.main06 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 36px;
}
